<!--分页栏-->
<div align="center">
    <ul class="pagination pagination-sm">
        <li id="last_page"><a href="#">&laquo;</a></li>
            <li class="page_1"><a href="#" id="page_1" style="display: none"></a></li>
            <li class="page_2"><a href="#" id="page_2" style="display: none"></a></li>
            <li class="page_3"><a href="#" id="page_3" style="display: none"></a></li>
            <li class="page_4"><a href="#" id="page_4" style="display: none"></a></li>
            <li class="page_5"><a href="#" id="page_5" style="display: none"></a></li>
        <li id="next_page"><a href="#">&raquo;</a></li>
    </ul>

</div>
<script type="text/javascript">
//翻页函数
function page() {
    if (data_num < 5*data_per_page){
    if (path.split("/")[1] != "query"){
        $("#page_1").attr("href","http://"+host+"/1");
        $("#page_2").attr("href","http://"+host+"/2");
        $("#page_3").attr("href","http://"+host+"/3");
        $("#page_4").attr("href","http://"+host+"/4");
    }else{
        var query_value = "/"+path.split("/")[path.split("/").length-1];
        $("#page_1").attr("href","http://"+host+"/query"+"/1"+query_value);
        $("#page_2").attr("href","http://"+host+"/query"+"/2"+query_value);
        $("#page_3").attr("href","http://"+host+"/query"+"/3"+query_value);
        $("#page_4").attr("href","http://"+host+"/query"+"/4"+query_value);
    }
    $("#page_1").text(1);
    $("#page_2").text(2);
    $("#page_3").text(3);
    $("#page_4").text(4);
    if(data_num <= 1*data_per_page){
            if (!$(".page_1").hasClass()){
                $(".page_1").addClass("active")
            }
            $("#page_1").show();
        }
        else if(data_num <= 2*data_per_page && data_num > 1*data_per_page){
            switch (page_num)
            {
                case 1:
                    $(".page1,.page_2").removeClass("active");
                    $(".page_1").addClass("active");
                    $("#page_1,#page_2").show();
                    break;
                case 2:
                    $(".page_1,.page_2").removeClass("active");
                    $(".page_2").addClass("active");
                    $("#page_1,#page_2").show();
                    break;
            }
    }else if(data_num <= 3*data_per_page && data_num > 2*data_per_page){
        switch (page_num)
            {
                case 1:
                    $(".page1,.page_2,.page_3,.page_4").removeClass("active");
                    $(".page_1").addClass("active");
                    $("#page_1,#page_2,#page_3").show();
                    break;
                case 2:
                    $(".page1,.page_2,.page_3,.page_4").removeClass("active");
                    $(".page_2").addClass("active");
                    $("#page_1,#page_2,#page_3").show();
                    break;
                case 3:
                    $(".page1,.page_2,.page_3,.page_4").removeClass("active");
                    $(".page_3").addClass("active");
                    $("#page_1,#page_2,#page_3").show();
                    break;
            }
    }else {
        switch (page_num)
        {
            case 1:
                $(".page1,.page_2,.page_3,.page_4").removeClass("active");
                $(".page_1").addClass("active");
                $("#page_1,#page_2,#page_3,#page_4").show();
                break;
            case 2:
                $(".page1,.page_2,.page_3,.page_4").removeClass("active");
                $(".page_2").addClass("active");
                $("#page_1,#page_2,#page_3,#page_4").show();
                break;
            case 3:
                $(".page1,.page_2,.page_3,.page_4").removeClass("active");
                $(".page_3").addClass("active");
                $("#page_1,#page_2,#page_3,#page_4").show();
                break;
            case 4:
                $(".page_1,.page_2,.page_3,.page_4").removeClass("active");
                $(".page_4").addClass("active");
                $("#page_1,#page_2,#page_3,#page_4").show();
                break;
        }
    }



}else if(page_num <3){
    if (path.split("/")[1] != "query"){
        $("#page_1").attr("href","http://"+host+"/1");
        $("#page_2").attr("href","http://"+host+"/2");
        $("#page_3").attr("href","http://"+host+"/3");
        $("#page_4").attr("href","http://"+host+"/4");
        $("#page_5").attr("href","http://"+host+"/5");
    }else{
        var query_value = "/"+path.split("/")[path.split("/").length-1];
        $("#page_1").attr("href","http://"+host+"/query"+"/1"+query_value);
        $("#page_2").attr("href","http://"+host+"/query"+"/2"+query_value);
        $("#page_3").attr("href","http://"+host+"/query"+"/3"+query_value);
        $("#page_4").attr("href","http://"+host+"/query"+"/4"+query_value);
        $("#page_5").attr("href","http://"+host+"/query"+"/5"+query_value);
    }
    $("#page_1").text("1");
    $("#page_2").text("2");
    $("#page_3").text("3");
    $("#page_4").text("4");
    $("#page_5").text("5");
    switch(page_num)
    {
        case 1:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_1").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case 2:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_2").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case 3:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_3").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case 4:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_4").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case 5:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_5").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
    }
} else if(page_num > get_total_page(data_per_page,data_num)-2) {
    switch(page_num)
    {
        case get_total_page(data_per_page,data_num)-1 :
        if (path.split("/")[1] != "query"){
            $("#page_1").attr("href","http://"+host+"/"+(page_num-3));
            $("#page_2").attr("href","http://"+host+"/"+(page_num-2));
            $("#page_3").attr("href","http://"+host+"/"+(page_num-1));
            $("#page_4").attr("href","http://"+host+"/"+page_num);
            $("#page_5").attr("href","http://"+host+"/"+(page_num+1));
        }else{
            var query_value = "/"+path.split("/")[path.split("/").length-1];
            $("#page_1").attr("href","http://"+host+"/query/"+(page_num-3)+query_value);
            $("#page_2").attr("href","http://"+host+"/query/"+(page_num-2)+query_value);
            $("#page_3").attr("href","http://"+host+"/query/"+(page_num-1)+query_value);
            $("#page_4").attr("href","http://"+host+"/query/"+page_num+query_value);
            $("#page_5").attr("href","http://"+host+"/query/"+(page_num+1)+query_value);
            
        }
            $("#page_1").text(page_num-3);
            $("#page_2").text(page_num-2);
            $("#page_3").text(page_num-1);
            $("#page_4").text(page_num);
            $("#page_5").text(page_num+1);
            switch(page_num)
            {
                case page_num-3:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_1").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num-2:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_2").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num-1:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_3").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_4").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num+1:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_5").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
            }
            break;
        case get_total_page(data_per_page,data_num) :
        if (path.split("/")[1] != "query"){
            $("#page_1").attr("href","http://"+host+"/"+(page_num-4));
            $("#page_2").attr("href","http://"+host+"/"+(page_num-3));
            $("#page_3").attr("href","http://"+host+"/"+(page_num-2));
            $("#page_4").attr("href","http://"+host+"/"+page_num-1);
            $("#page_5").attr("href","http://"+host+"/"+page_num);
        }else{
            var query_value = "/"+path.split("/")[path.split("/").length-1];
            $("#page_1").attr("href","http://"+host+"/query/"+(page_num-4)+query_value);
            $("#page_2").attr("href","http://"+host+"/query/"+(page_num-3)+query_value);
            $("#page_3").attr("href","http://"+host+"/query/"+(page_num-2)+query_value);
            $("#page_4").attr("href","http://"+host+"/query/"+(page_num-1)+query_value);
            $("#page_5").attr("href","http://"+host+"/query/"+page_num+query_value);            
        }
            $("#page_1").text(page_num-4);
            $("#page_2").text(page_num-3);
            $("#page_3").text(page_num-2);
            $("#page_4").text(page_num-1);
            $("#page_5").text(page_num);
            switch(page_num)
            {
                case page_num-4:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_1").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num-3:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_2").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num-2:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_3").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num-1:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_4").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
                case page_num:
                    $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
                    $(".page_5").addClass("active");
                    $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
                    break;
            }
            break;
    }

} else{
    if (path.split("/")[1] != "query"){
        $("#page_1").attr("href","http://"+host+"/"+(page_num-2));
        $("#page_2").attr("href","http://"+host+"/"+(page_num-1));
        $("#page_3").attr("href","http://"+host+"/"+page_num);
        $("#page_4").attr("href","http://"+host+"/"+(page_num+1));
        $("#page_5").attr("href","http://"+host+"/"+(page_num+2));
    }else{
        var query_value = "/"+path.split("/")[path.split("/").length-1];
        $("#page_1").attr("href","http://"+host+"/query/"+(page_num-2)+query_value);
        $("#page_2").attr("href","http://"+host+"/query/"+(page_num-1)+query_value);
        $("#page_3").attr("href","http://"+host+"/query/"+page_num+query_value);
        $("#page_4").attr("href","http://"+host+"/query/"+(page_num+1)+query_value);
        $("#page_5").attr("href","http://"+host+"/query/"+(page_num+2)+query_value); 
    }
    $("#page_1").text(page_num-2);
    $("#page_2").text(page_num-1);
    $("#page_3").text(page_num);
    $("#page_4").text(page_num+1);
    $("#page_5").text(page_num+2);
    switch(page_num)
    {
        case page_num-2:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_1").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case page_num-1:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_2").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case page_num:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_3").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case page_num+1:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_4").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
        case page_num+2:
            $(".page_1,.page_2,.page_3,.page_4,.page_5").removeClass("active");
            $(".page_5").addClass("active");
            $("#page_1,#page_2,#page_3,#page_4,#page_5").show();
            break;
    }
}
}

//上一页
$("#last_page").click(function () {
    if (page_num > 1){
        if (path.split("/")[1] != "query"){
                var url = "http://"+host+"/"+(page_num-1);
                window.location.href = url;
        }else{
            var query_value = "/"+path.split("/")[path.split("/").length-1];
            var url = "http://"+host+"/query/"+(page_num-1)+query_value;
            window.location.href = url;
        }
    }
})
//下一页
$("#next_page").click(function () {
    if (page_num < get_total_page(data_per_page,data_num)) {
        if (path.split("/")[1] != "query") {
                var url = "http://" + host + "/" + (page_num + 1);
                window.location.href = url;
        } else {
            var query_value = "/" + path.split("/")[path.split("/").length - 1];
            var url = "http://" + host + "/query/" + (page_num + 1) + query_value;
            window.location.href = url;
        }
    }
})

var data_per_page = 10;//每一页显示的数目
page();//加载翻页函数
$("li.active a").attr("href","#")  //禁止active的标签再点击
</script>
