<!--继承模态框模板，进行修改操作-->
{% extends 'modal.html' %}
<!--修改和添加模态框-->
{% block add_class %}btn-modal{% endblock %}
{% block trigger_content %}{% endblock %}
{% block title_id %}modal_title{% endblock %}
{% block data-target %}modal_my{% endblock %}
{% block id %}modal_my{% endblock %}<!--id和data-target必须一致-->
{% block title %}<span id="title_name"></span>{% endblock %}
{% block content %}
{% include 'modal_content.html' %}
{% endblock %}

<!--已部署应用详情模态框-->
{% block details_class %}btn-modal-details{% endblock %}
{% block trigger_content_details %}已部署应用详情{% endblock %}
{% block title_id_details %}modal_title_details{% endblock %}
{% block data-target-details %}modal_my_details{% endblock %}
{% block id-details %}modal_my_details{% endblock %} <!--id和data-target必须一致-->
{% block title-details %}<span id="title_name_details"></span>{% endblock %}
{% block content-details %}
{% include 'modal_content_details.html' %}
{% endblock %}

<!--翻页模板-->
{% block turn_page %}
{% include 'fenye.html' %}
{% endblock %}

