{% extends 'alarm.html' %}
<div id="alarm_container_details">
    {% block alarm_type_id %}alarm_type_id_details{% endblock %}
    {% block alarm_title %}alarm_title_details{% endblock %}
    {% block alarm_content %}alarm_content_details{% endblock %}
</div>
{% block content-details %}
    <span class="application-id" style="display: none"></span><!--默认不显示，保存id号方便数据操作-->
    <div class="input-group" >
        <span class="input-group-addon" id="application-name"></span>
        <!--<input type="text" class="form-control" id="application-name" placeholder="应用名称">-->
        <textarea type="text" class="form-control"  rows="5" id="application-name-details" placeholder="无应用详情,点击添加">
        </textarea>
    </div>
{% endblock %}