{% extends 'base.html' %}
{% block modal %}<!--修改和添加使用-->
<!-- 按钮触发模态框 -->
<button class="btn btn-primary btn-lg {% block add_class %}默认不显示，为了增加点击类方便写js{% endblock %}"
        data-toggle="modal" data-target="#{% block data-target %}myModal{% endblock %}" style="display:none">
    {% block trigger_content %}触发按钮{% endblock %}</button>
<!-- 模态框（Modal） -->
<div class="modal fade" id="{% block id %}myModal{% endblock %}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="{% block title_id %}modal标题id号{% endblock %}">{% block title %}
                 模态框（Modal）标题  {% endblock %}</h4>
            <div align="center"><button type="button" id="auto_get_info" class="btn btn-default btn-sm">自动获取配置信息</button></div>
            </div>
            <div class="modal-body">
                {% block content %}
                    <div>默认内容，需要重写</div>
                {% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm"  data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-warning btn-sm" id="confirm">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
{% endblock %}

{% block modal_app_details %}<!--已部署应用详情使用-->
    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg {% block details_class %}默认不显示，为了增加点击类方便写js{% endblock %}"
        data-toggle="modal" data-target="#{% block data-target-details %}myModal2{% endblock %}" style="display:none">
    {% block trigger_content_details %}触发按钮{% endblock %}</button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="{% block id-details %}myModal{% endblock %}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="{% block title_id_details %}modal标题id号{% endblock %}">{% block title-details %}
                     模态框（Modal）标题  {% endblock %}</h4>
                </div>
                <div class="modal-body">
                    {% block content-details %}
                        <div>默认内容，需要重写</div>
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm"  data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-warning btn-sm" id="confirm-details">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}

